name: Trigger Scraper

on:
  schedule:
    - cron: '20 * * * *'  
  workflow_dispatch:

permissions:
  actions: write

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Amazon Scraper workflow
        uses: actions/github-script@v7
        with:
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'scraper.yml',
              ref: 'main'
            })
            console.log('Triggered scraper.yml successfully!')
